[[source]]
name = "pypi"
url = "https://pypi.douban.com/simple/"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
pymysql = "*"
flask-shell-ipython = "*"
flask-migrate = "*"
flask-restful = "*"
flask-wtf = "*"
sqlalchemy-utils = "*"
ipython = "*"
flask-redis = "*"
gunicorn = "*"

[requires]
python_version = "3.6"
